.filters-wrapper{
      width: 100%;
      height: 124px;
      background-color: rgb(63, 63, 63);
      margin-top: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
}
.filters-container{
      display: flex;
      justify-content: center;
      width: 90%;
      height: 100%;
      align-items: center;
}
.search-form{
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      height: 66%;
}
#recipe-search{
      width: 85%;
      height: 100%;
      border: none;
      outline: none;
      font-size: 16px;
}
.recipe-search-btn{
      height: 100%;
      width: 15%;
      border: none;
      background-color: white;
      font-size: 18px;
      color: gray;
}
.search-container{
      display: flex;
      height: 40px;
      width: 300px;
      border-radius: 32px;
      overflow: hidden;
}
.filters-list{
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      width: 90%;
}
.filter-btn{
      border: none;
      background: none;
      outline: none;
      cursor: pointer;
      font-weight: bold;
      color: rgb(255, 255, 255);
}
.active-filter{
      color: rgb(109, 212, 109);
}
/* CARDS */
.recipes-wrapper{
      width: 100%;
      height: fit-content;
      justify-content: center;
}
.recipes-container{
      width: 95%;
      height: fit-content;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: auto;
}
.recipe-card{
      padding: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: white;
      box-shadow: 0px 0px 16px -3px rgba(0, 0, 0, 0.24);
      height: 400px;
      width: 300px;
      margin: 8px;
}
.recipe-card-container{
      width: 100%;
      height: 100%;
}
.card-image{
      width: 100%;
      height: 50%;
      background-position: center;
      background-size: cover;
}
.card-name-container{
      height: 70px;
}
.card-name{
      font-family: 'Bree Serif', serif; 
      font-size: 24px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      width: 100%;
      height: 100%;
}
.card-bottom{
      display: flex;
      height: auto;
      width: 100%;
}
.card-info{
      width: 50%;
      font-size: 12px;
      height: 110px;
      display: flex;
      flex-direction: column;
      justify-content: center;
}
.card-info p{
      margin: auto 0px auto 0px;
}
.card-link{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      margin: auto;
}
.recipe-link{
      text-decoration: none;
      color: rgb(97, 97, 97);
      padding: 5px 24px;
      background-color: rgb(109, 212, 109);
      border-radius: 4px;
}
.loadMore{
      padding: 15px 30px;
      font-size: 16px;
      border: none;
      background-color: rgb(109, 212, 109);
      color: white;
      cursor: pointer;
}
.load-more-container{
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 16px;
}